<div class="container ">
  <div class="row m-4">
    <div class="col-12" style="font-size:70px;color:#EEEEEE;">EDIT</div>
    <div class="col-12" style="font-size:25px;">会員情報編集</div>

    <%= form_with model: @customer, url: "/customer", method: :patch do |f| %>
    <table class="row m-5">
      <tr>
        <th class="py-3 col-5">名前</th>
        <td><%= f.text_field :last_name %> <%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <th class="pb-5">メールアドレス</th>
        <td class="col-8 pb-5"><%= f.text_field :email, class: "col-12" %></td>
      </tr>
      <tr>
        <td>
          <%= button_tag type: "submit", class: "btn btn-outline-secondary nav-link py-2 col-7", style: 'color: black;width:120px;' do %>
            <i class="fa-solid fa-rotate-right" style="color: #000000;">更新する</i>
          <% end %>
        </td>
        <td type="button" class="btn btn-outline-secondary nav-link col-7">
          <%= link_to "退会する", "/customer/leave",class: "nav-link fa-solid fa-right-from-bracket py-1", style: 'color: black;width:120px;' %>
        </td>
      </tr>
    </table>
    <% end %>
  </div>