<div class="container my-5">
  <div class="row" style="margin-top:100px;">
    <div class="col">
      <% if @recipe.image.present? %>
        <%= image_tag @recipe.image, width: 400, height: 250, class: "img-resize, rounded mx-auto d-block" %>
      <% else %>
        <%= image_tag "no_image.jpg", width: 400, height: 250, class: "img-resize, rounded mx-auto d-block" %>
      <% end %>
      <div class="d-flex align-items-center">
        <h1 class="mt-5 px-5 border-bottom border-3" style="display: flex; align-items: center;">
          <%= @recipe.name %>
          <i class="fa-regular fa-clock" style="color: black;margin-left: 100px; font-size:25px;"></i>
          <span style="font-size: 25px; margin-left: 10px;"><%= @recipe.time %></span>
          <span style="font-size: 25px; margin-left: 30px;">
            <% if @recipe.favorited_by?(current_customer) %>
              <%= button_to recipe_favorites_path(@recipe), method: :delete, class: 'btn d-flex align-items-center', style: 'color: black;border-color:white;' do %>
                <div style="color:red">♥</div><%= @recipe.favorites.count %>
              <% end %>
            <% else %>
              <%= button_to recipe_favorites_path(@recipe), method: :post, class: 'btn d-flex align-items-center', style: 'color: black;border-color:white;' do %>
                ♡<%= @recipe.favorites.count %>
              <% end %>
            <% end %>
          </span>
        </h1>
      </div>
      
      <% @recipe.tags.each do |tag| %>
        <div class="fa-solid fa-tag" style="color: black; margin-left:30px;">
          <%= tag.name %>
        </div>
      <% end %>

      <table class="m-5">
        <tr>
          <th style="width:80px;">材料</th>
          <td><%= @recipe.material.gsub("\n", "<br>").html_safe %></td>
        </tr>
      </table>

      <table class="m-5">
        <tr>
          <th style="width:80px;">作り方</th>
          <td><%= @recipe.make.gsub("\n", "<br>").html_safe %></td>
        </tr>
      </table>

      <div class="row mt-5 mb-5 justify-content-center">
        <% if current_customer && current_customer.id == @recipe.customer_id %>
          <div class="col-2">
            <%= link_to "戻る", recipes_path, class: "btn btn-outline-secondary nav-link", style: 'color: black;' %>
          </div>
          <div class="col-2">
            <%= link_to "編集", edit_recipe_path(@recipe), class: "btn btn-outline-secondary nav-link", style: 'color: black;' %>
          </div>
          <div class="col-2">
            <%= button_to "削除", recipe_path(@recipe), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-secondary nav-link", style: 'color: black; width: 120px;', form: { class: "d-inline" } %>
          </div>
        <% else %>
          <div class="col-2">
            <%= link_to "戻る", recipes_path, class: "btn btn-outline-secondary nav-link", style: 'color: black;' %>
          </div>
        <% end %>


          <div class="mt-5 mb-2 d-flex" style="padding-top:150px;">
            <h4>【レビュー】</h4>
            <p class=" mt-2">(<%= @recipe.post_comments.count %>件)</p>
            <%= link_to "コメントする", new_recipe_post_comment_path(@recipe), class: "btn btn-outline-secondary nav-link", style: 'color: black;width: 180px; margin-left:50px;' %>
          </div>

          <% @recipe.post_comments.each do |post_comment| %>
            <div class="balloon-set-box left">
              <div class="balloon1">
                <%= post_comment.customer.last_name %><%= post_comment.customer.first_name %> (<%= post_comment.created_at.strftime('%Y/%m/%d') %>)
                <div class="row justify-content-center" style="width:700px;">
                  <div class="col" style="max-width: 600px;">
                    <%= post_comment.comment %>
                  </div>
                  <div class="col-auto ">
                    <% if current_customer && post_comment.customer == current_customer %>
                      <%= button_to "削除", recipe_post_comment_path(post_comment.recipe, post_comment), method: :delete, class: "btn btn-outline-secondary nav-link py-1", style: 'color: black; width: 70px;', form: { class: "d-inline" } %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
    <%= render "public/recipes/ns" %>
  </div>
</div>