<div class="container ">
  <div class="row m-4">
    <div class="col-12 text-light" style="font-size:70px;">SHOW</div>
    <div class="col-12" style="font-size:25px;">
      <%= @customer.last_name %><%= @customer.first_name %>さんの会員情報詳細
    </div>
  </div>
  
  <div class="row m-5">
    <table class="table">
      <tr>
        <th class="pl-5 bg-light text-dark" style="width:300px;">名前</th>
        <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
      </tr>
      <tr>
        <th class="pl-5 bg-light text-dark">メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th class="pl-5 bg-light text-dark">会員ステータス</th>
        <% if @customer.is_deleted == false %>
          <td class="text-success">有効</td>
        <% else %>
          <td class="text-black-50">退会</td>
        <% end %>
      </tr>
    </table>
  </div>
    
  <div class="col-2 m-5">
    <div type="button" class="btn btn-outline-secondary nav-link">
      <%= link_to "編集する", edit_admin_customer_path(@customer), class: 'nav-link fa-solid fa-pen', style: 'color: black;'%>
    </div>
  </div>
</div>