<div class="container ">
  <div class="row m-4">
    <div class="col-12 text-light" style="font-size:70px;">SIGN UP</div>
    <div class="col-12" style="font-size:25px;">新規会員登録</div>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
  
    <div class="form-field row mx-5 py-1">
      <div class="col-lg-3">
        <p>名前</p>
      </div>

      <div class="col-lg-1 text-right">
        <%=f.label :last_name,"(姓)" %>
      </div>
      <div class="col-lg-3">
        <%=f.text_field:last_name, :placeholder => "山田"%>
      </div>

      <div class="col-lg-1 text-right">
        <%=f.label :last_name,"(名)" %>
      </div>
      <div class="col-lg-3">
        <%=f.text_field:first_name, :placeholder => "太郎"%>
      </div>
    </div>

    <div class="form-field row mx-5 pb-3">
      <div class="col-lg-4">
        <%= f.label :email, "メールアドレス" %>
      </div>
      <div class="col-lg-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-lg-6", :placeholder => "aaaaaa@gmail.com" %>
      </div>
    </div>
    
    <div class="form-field row mx-5 pb-3">
      <div class="col-lg-4">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
      </div>
      <div class="col-lg-8">
        <%= f.password_field :password, autocomplete: "new-password", class:"col-lg-6" %>
      </div>
    </div>

    <div class="form-field row mx-5 pb-3">
      <div class="col-lg-4">
        <%= f.label :password_confirmation, "パスワード(確認用)" %>
      </div>
      <div class="col-lg-8">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"col-lg-6" %>
      </div>
    </div>
    
    <div class="form-field row mx-5 pb-3">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4 actions">
        <%= f.submit "新規登録",class: "btn btn-outline-secondary nav-link", style: 'color: black;' %>
      </div>
    </div>
  <% end %>

    <div class="form-field row mx-5 pb-3">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <%= render "public/shared/links" %>
      </div>
    </div>
</div>