<div class="container">
  <div class="row m-4">
    <div class="col-12 text-light" style="font-size:70px;">LOG IN</div>
    <div class="col-12" style="font-size:25px;">ログイン</div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field row  mx-5 pb-3">
      <div class="col-lg-4">
        <%= f.label :email, "メールアドレス" %>
      </div>
      <div class="col-lg-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-lg-6",:placeholder => "aaaaaa@gmail.com" %>
      </div>
    </div>

    <div class="field row  mx-5 pb-3">
      <div class="col-lg-4">
        <%= f.label :password, "パスワード" %>
      </div>
      <div class="col-lg-8">
        <%= f.password_field :password, autocomplete: "current-password", class:"col-lg-6" %>
      </div>
    </div>

    <div class="form-field row  mx-5 pb-3">
      <div class="col-lg-4">
      </div>
      <div class="actions col-lg-4">
        <%= f.submit "ログイン",class: "btn btn-outline-secondary nav-link", style: 'color: black;'%>
      </div>
    </div>
  <% end %>

    <div class="form-field row mx-5 pb-3">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <%= render "public/shared/links" %>
      </div>
    </div>
</div>