<% if admin_signed_in? %>
  <% if request.fullpath.include? "/admin" %>
  <!--adminのheader-->
    <header class="header">
      <nav class="navbar navbar-expand-lg" >
          <div class="container-fluid" >
            <!--<a href="/admin" >-->
            <!--  <img src="assets/images/logo1.png" width="160" height="50">-->
            <!--</a>-->
            
            <div>
              <p style="font-size:40px;">Hello!</p>
            </div>

          <div>
            <ul class="navbar-nav ml-auto m-2 d-flex">
              <li class="nav-item ml-3">
                <%= link_to "会員一覧", "/admin/customers", class: 'nav-link', style: 'color: black;' %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to "コメント一覧", "/admin/post_comments", class: 'nav-link', style: 'color: black;' %>
              </li>
              <li class="nav-item ml-3 mt-1">
                <%= button_to destroy_admin_session_path, method: :delete, class: 'btn d-flex align-items-center', style: 'color: black; border-color:white;' do %>
                  <i class="fa-solid fa-right-from-bracket" style="color: #000000;"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <% else %>
    <!--customerのheaderを返す -->
      <header class="header">
        <nav class="navbar navbar-expand-lg" >
          <div class="container-fluid" >
            <!--<a href="/" >-->
              
            <!--  <img src="assets/images/logo1.png" width="160" height="50">-->
            <!--</a>-->

            <div>
              <ul class="navbar-nav ml-auto m-2 d-flex">
                <li class="nav-item ml-3">
                  <%= link_to "Top", "/", class: 'nav-link', style: 'color: black;' %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to "Cook Shareとは", "/about", class: 'nav-link', style: 'color: black;' %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to "レシピ一覧", "/recipes", class: 'nav-link', style: 'color: black;' %>
                </li>
                <li class="nav-item ml-3">
                  <a class="fa-solid fa-user pt-2 px-2 nav-link" style="color: black;" href="/customer"></a>
                </li>
                <li class="nav-item ml-3">
                  <a class="fa-solid fa-heart pt-2 px-2 nav-link" style="color: black;" href="/customer/favorites"></a>
                </li>
                <li class="nav-item ml-3">
                  <%= button_to destroy_customer_session_path, method: :delete, class: 'btn d-flex align-items-center', style: 'color: black; border-color:white;' do %>
                    <i class="fa-solid fa-right-from-bracket" style="color: #000000;"></i>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <% end %>
    <% elsif customer_signed_in? %>
    <!--customerがログインしているとき-->
      <header class="header">
        <nav class="navbar navbar-expand-lg" >
          <div class="container-fluid" >
            <!--<a href="/" >-->
              
            <!--  <img src="assets/images/logo1.png" width="160" height="50">-->
            <!--</a>-->
            
            <div class="mt-4">
              <p>ようこそ、<%= current_customer.last_name %>さん！</p>
            </div>

            <div>
              <ul class="navbar-nav ml-auto m-2 d-flex">
                <li class="nav-item ml-3">
                  <%= link_to "Top", "/", class: 'nav-link', style: 'color: black;' %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to "Cook Shareとは", "/about", class: 'nav-link', style: 'color: black;' %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to "レシピ一覧", "/recipes", class: 'nav-link', style: 'color: black;' %>
                </li>
                <li class="nav-item ml-3">
                  <a class="fa-solid fa-user pt-2 px-2 nav-link" style="color: black;" href="/customer"></a>
                </li>
                <li class="nav-item ml-3">
                  <a class="fa-solid fa-heart pt-2 px-2 nav-link" style="color: black;" href="/customer/favorites"></a>
                </li>
                <li class="nav-item ml-3">
                  <%= button_to destroy_customer_session_path, method: :delete, class: 'btn d-flex align-items-center', style: 'color: black; border-color:white;' do %>
                    <i class="fa-solid fa-right-from-bracket" style="color: #000000;"></i>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    <% else %>
    <!-- customerがログインしていない時-->
      <header class="header">
        <nav class="navbar navbar-expand-lg" >
          <div class="container-fluid" >
            <!--<a href="/" >-->
              
            <!--  <img src="assets/images/logo1.png" width="160" height="50">-->
            <!--</a>-->

            <div>
              <ul class="navbar-nav ml-auto m-2">
                <li class="nav-item ml-3">
                  <%= link_to "Top", "/", class: 'nav-link', style: 'color: black;' %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to "Cook Shareとは", "/about", class: 'nav-link', style: 'color: black;' %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to "レシピ一覧", "/recipes", class: 'nav-link', style: 'color: black;' %>
                </li>
                <li class="nav-item ml-3">
                  <a class="fa-solid fa-user-plus pt-2 px-2 nav-link" style="color: black;" href="/customers/sign_up"></a>
                </li>
                <li class="nav-item ml-3">
                  <a class="fa-solid fa-right-to-bracket pt-2 px-2 nav-link" style="color: black;" href= "/customers/sign_in"></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    <% end %>